* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Banner Section */

.header-banner {
    background-image: url(./images/banner/banner3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 900px;
}

.banner-text {
    text-align: end;
    padding: 300px 300px;
    color: #fff;
}

.banner-text h1{
    font-size: 50px;
}

.banner-text p{
    padding: 20px 0;
    line-height: 1.4em;
    font-weight: 300;
}

.banner-text button{
    background-color: #fff;
    color: #005aad;
    font-weight: 500;
    padding: 20px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Service Section */

.service-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0;
}

.service-text p{
    padding: 25px 0;
    line-height: 1.7em;
}

.service-list ul li{
    list-style: none;
    line-height: 1.9em;
}

.service-list ul li::before{    
    content: "\f00c";
    font-family: "Font Awesome 6 free"; 
    font-weight: 900;
    padding: 0 5px;
    color: #6de6b4;
}

.plan-title{
    text-align: center;
}

.plan-service{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    padding: 80px 0;
}