* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Banner Section */

.header-banner {
    background-image: url(./images/banner/banner3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 900px;
}

.banner-text {
    text-align: end;
    padding: 300px 300px;
    color: #fff;
}

.banner-text h1{
    font-size: 50px;
}

.banner-text p{
    padding: 20px 0;
    line-height: 1.4em;
    font-weight: 300;
}

.btn-similar{
    background-color: #fff;
    color: #005aad;
    font-size: 17px;
    font-weight: 700;
    padding: 20px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Service Section */

.service-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0;
}

.service-text p{
    padding: 25px 0;
    line-height: 1.7em;
}

.service-list ul li{
    list-style: none;
    line-height: 1.9em;
}

.service-list ul li::before{    
    content: "\f00c";
    font-family: "Font Awesome 6 free"; 
    font-weight: 900;
    padding: 0 5px;
    color: #6de6b4;
}

.plan-title{
    text-align: center;
}

.plan-service{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    padding: 80px 0;
}

/* Mindset Section */

.mindset{
    background: url(./images/watch.png);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: start;
    padding: 100px 500px;
    margin: 80px 0;
}

.mindset h2{
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    padding: 20px 0;
}

/* Footer Section */

.footer{
    display: flex;
    justify-content: space-around;
    background-color: #141414;
    color: #ffffff;
    padding: 100px 0;
}

.social img{
    margin-right: 15px;
}

.email-input{
    background-color: #141414;
    border: #fff;
    padding: 15px;
    width: 200px;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid #ddd;
}

.btn-2{
    background-color: #015eac;
    color: #fff;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 14px;
}

